
DB_USER_DEV = postgres
DB_NAME_DEV= your-postgres-username
DB_PASSWORD_DEV = your-postgres-password
DB_HOST_DEV = localhost
DATABASE_URL="postgresql://user:password@localhost:5432/keihatsu_db?schema=public"
GOOGLE_CLIENT_ID_WEB="your-google-client-id_web"
GOOGLE_CLIENT_ID_ANDROID="your-google-client-id_android"
JWT_SECRET="your-super-secret-jwt-key"
PORT=3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# SMTP Settings for Bug Reports
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=grvt8hq@gmail.com
SMTP_PASS=your-google-app-password

