<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>KeihatsuIcon</string>
	<key>UIAppFonts</key>
	<array>
		<string>BricolageGrotesque_24pt-SemiBold.ttf</string>
		<string>BricolageGrotesque_24pt-Regular.ttf</string>
	</array>
	<key>KEIHATSU_API_BASE_URL</key>
	<string>$(KEIHATSU_API_BASE_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Connect to your local Keihatsu development server.</string>
</dict>
</plist>
